$primary-color: #f1a738;
$secondary-color: #fff;
$background-color:rgb(120, 10, 179);
$font: 'Roboto Condensed',
sans-serif;
$background-image: url('../img/background-pattern.jpg');
// $background-image: url('../img/background-nature.jpg');
// $background-image: url('../img/background-nature-2.jpg');
// $background-image: url('../img/background-music.jpg');
// $background-image: url('../img/background-music-2.jpg');