$primary-color: #2ed35d;
$secondary-color: #e4e4e4;
$dark-color: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(29, 29, 29, 1) 46%, rgba(69, 69, 69, 1) 100%);
$light-dark-color: rgb(169, 168, 168);
$font: 'Roboto Condensed',
sans-serif;
$background-image: url('../img/start-screen.jpg');
$logo-image: url('../img/logo-note-only-01.png');